/* Design html + body */

html, body {
	font-family:'Quicksand', arial, helvetica, sans-serif;
	font-weight: 400;
	background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
	background-size: 20px 20px;
	background-color: #fafafa;
	color: #212121;
	padding: 0;
	margin: 0;
}

